################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BerenOtoPaynet/obj
/BerenOtoPaynet/bin/BerenOtoPaynet.pdb
/BerenOtoPaynet/bin/BerenOtoPaynet.dll.config
/BerenOtoPaynet/bin/BerenOtoPaynet.dll
