<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PaynetIV.Client.Company" value="OTO MARMARA"/>
    <add key="PaynetIV.Client.Mail" value="info@otomarmara.com.tr"/>
    <add key="PaynetIV.Client.Phone" value="0(216) 632 93 76"/>
    <add key="PaynetIV.Client.Address" value="Saray Mahallesi Sanayi Caddesi No:6, 34760 Ümraniye/İstanbul"/>
    <add key="PaynetIV.Client.Url" value="https://api.paynet.com.tr"/>
    <add key="PaynetIV.Client.SecretKey" value="sck_pcs_CnmcDy5y1khiwnnNyjD5QKaqTXapE6sw"/>
    <add key="PaynetIV.Client.PublicKey" value="pbk_pcs_8tqeDy5y1kgE0mJ1s*A6RYjrlUjOOqr3"/>
    <add key="PaynetIV.Client.TestUrl" value="https://pts-api.paynet.com.tr"/>
    <add key="PaynetIV.Client.LogoUrl" value="http://b2b.otomarmara.com.tr/web/assets/imgs/header-logo.png"/>
    <!--Oran Tanımı-->
    <add key="PaynetIV.Client.RatioCode" value="L7ZFIBCI"/>
    <!--Bayi Kodu-->
    <add key="PaynetIV.Client.AgentCode" value="65264"/>
    <!-- False ise taksitli çekime izin verilir -->
    <add key="PaynetIV.Client.Instalment" value="false"/>
    <!-- False ise komisyon tutarı çekilecek tutara eklenmez. -->
    <add key="PaynetIV.Client.Commission" value="false"/>
    <!-- False: Eğer işlem yapılacak POS 3D’siz işlemi destekliyor ise, kullanıcının 3D’siz de işlem yapmasına izin verir. -->
    <add key="PaynetIV.Client.TDS" value="true"/>
  </appSettings>
 
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
